@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
body {
    background-color: blanchedalmond;
    font-size: larger;
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
    width: 75%;
}