body {
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
    width: 75%;
}