@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Signika+Negative:wght@300..700&display=swap');
body {  font-family: "Signika Negative", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
margin: 0.5em;


}
h2 ,h3 ,h4, p {
    margin-bottom: 1em;
}

#wrapper {
    max-width: 1200px;
    margin:0 auto;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
}
#topMenu{
    display: none;
    position: absolute;
    background-color: rgb(255, 221, 0);
    border:  solid 1px black;
    right: 0;
    top: 30px;
  padding: 3px;
    
}
.dropdown{
    display: none;
}
.programNav li:hover .dropdown {
    display: block;
}