*{
    margin: 0;
	padding: 0;
	
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    padding: 2.3em;
    padding-bottom: 4em;
}

.col-right {
    /*width: 45%;
    display: inline-block;
    vertical-align: top;*/
    float: right;
    width: 40%;
}

.col-left {
    float: left;
    width: 40%;
    /*
    margin-right: 5%;
   padding-bottom: 100px;*/
}
/*
footer {
    text-align: center;
    padding: 20px;
    background-color: #0B4C00;
    color: white;
    height: fit-content
}*/
footer {
    clear: both;
    font-size: smaller;
    background-color: #0B4C00;
    padding: 1.5em;
    width: 100%; 
    position: relative;
    height: fit-content;
    margin-top: 13%; 
}
header { 
    padding-right: 4em;
    padding-bottom: 6em;
    background-image: url("images/breakingbaddd.jpg");
    background-repeat:no-repeat;
    background-size: 80%;
background-position: top right;
background-color: rgb(0, 0, 0);
color:  rgb(255, 255, 255);






}
#text-incontent {
    font-size: small;
    padding: 0 2.5em;
 

}
nav{
    background-color:  #0B4C00;
    padding: 10px 2.4em;
   
}
nav li{
    display: inline-block;
    margin-right: 3em;

    
}
nav a {
    color: white;
    text-decoration: none;

}


#logo {
    max-width: 400px;
    padding-right: 4.2em;
  
}

.btn { 
 color:rgb(255, 255, 255) ;
    text-decoration:none;
    margin-left: 6.5em;
    background-color: #0B4C00 ;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
   
    /*display: inline-block;
    #0B4C00*/
}
.play {
    background-image: url(/midterm/images/play_arrow.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1.5em;
    margin: 0 2em;
}
a:hover{
    color: rgb(0, 0, 0);
}

h2{
    font-size: 1.5rem;
 
}
p, h2 { 
    margin: 1rem 0;
  line-height: 1.7em; 
}

.episodes{
  display: flex;
flex-wrap: wrap;

}
.card{
  width: 23%;
border: solid 1px #0B4C00;
  margin-right: 1.8%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #0B4C00;
  margin-bottom: 3em;

}
.card:hover{
    color: #0B4C00;
    
}
.card:last-child{
    margin-right: 0% ;
    }
.card img {
    width: 100%;
 
}
.card h4{
    line-height: 2em;
    height: 3em;
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
}
.card p {
text-align:center;
margin-left: 10px;
margin-right: 10px;
height: fit-content;
}
  
    
    

